[submodule "_extensions/zinit"]
	path = _extensions/zinit
	url = git@github.com:zdharma-continuum/zinit.git
[submodule "_extensions/vim-plug"]
	path = _extensions/vim-plug
	url = git@github.com:junegunn/vim-plug.git
