[submodule "_extensions/zinit"]
	path = _extensions/zinit
	url = git@github.com:zdharma-continuum/zinit.git
[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/AstroNvim/AstroNvim.git
